@font-face {
  font-family: Coyote;
  src: url(../font/Coyote.ttf);
}
img{
  size: 100px;
}
body {
  padding: 0;
  margin: 0;
  background: #0f0f0f;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  width: 92vw;
  padding: 4vh 0;
  position: fixed;
  top: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

header li {
  float: right;
}

header li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  margin-left: 3vw;
  text-decoration: none;
  position: relative;
}
h1{
  color: #c8c8c8;
}
header li img {
  width: 30px;
  height: auto;
  padding: 10px 0;
}

#video {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

#video video {
  width: 100%;
  height: 100%;
}

#main {
  width: 92vw;
  padding: 0 4vw;
  height: 100vh;
  font-family: Coyote, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  position: absolute;
  background: radial-gradient(rgba(13, 6, 11, 0), rgba(13, 6, 11, 1));
}

#main div {
  margin: 30px 0;
  font-size: 25px;
  color: #fff;
}

#main button {
  font-family: Coyote, sans-serif;
  font-size: 18px;
  padding: 12px 2vw;
  border-radius: 50px;
  border-color: #9459d5; 
  background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 10vw;
  transition: 0.4s ease-in-out;
}

#main button:hover {
  transform: scale(1.06);
  color: #ffffff;
  background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

#main button:active {
  transform: scale(0.6);
  color: #ffffff;
  background: -webkit-linear-gradient(left, #3dade9, #bf2fcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome {
  font-size: 25px;  
  color: #ffffff;

}
#main span  {
  font-size: 25px;  
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: -moz-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: -ms-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: -o-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

}
#main span .welcome {
  font-size: 25px;  
  color: #ffffff;

}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
footer {
  width: 92vw;
  padding: 4vh 0;
  position: fixed;
  bottom: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

footer li {
  float: right;
}

footer li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  margin-left: 3vw;
  text-decoration: none;
  font-size: 30px;
  position: relative;
}

.monea {
  font-weight: bold;
}

a {
  transition: 0.4s ease-in-out;
}

a:hover {
  transform: scale(1.06);
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: -moz-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: -ms-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: -o-linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  background-image: linear-gradient(45deg, #8e24aa 0%, #ff6e40 70%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#not_supported {
  color: #fff;
  width: 92vw;
  padding: 0 4vw;
  height: 100vh;
  font-family: Coyote, sans-serif;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  display: none;
}

a:focus {
  outline: none;
}

::-moz-selection {
  color: #000;
  background: #fff;
}

::selection {
  color: #1DB954;
  background: #fff;
}

@media (max-width: 1800px) {
  #main button {
    width: 16vw;
  }
}

@media (max-width: 950px) {

  #main,
  #video {
    display: none;
  }

  #not_supported {
    display: flex;
  }
}
